<div class="sidebar">
  <header>Trabajador CIMARC</header>
  <ul>
    <li><a href=""><i class="fa-solid fa-book"></i>Historial de Casos</a></li>
    <li><a href=""><i class="fa-solid fa-dollar-sign"></i>Listado</a></li>
    
    <li><a href=""><i class="fa-solid fa-right-from-bracket"></i>Cerrar Sesión</a></li>
  </ul>
</div>