<div class="sidebar">
  <header>Admin CIMARC</header>
  <ul>
    <li><a href=""><i class="fa-solid fa-book"></i>Lista de Casos</a></li>
    <li><a href=""><i class="fa-solid fa-dollar-sign"></i>Lista de Pagos</a></li>
    <li><a href=""><i class="fa-solid fa-user"></i>Mantenimiento Usuario</a></li>
    <li><a href=""><i class="fa-solid fa-user-tie"></i>Mantenimiento Trabajador</a></li>
    <li><a href=""><i class="fa-solid fa-chart-line"></i>Estadisticas</a></li>
    <li><a href=""><i class="fa-solid fa-address-card"></i>Eventos</a></li>
    <li><a href=""><i class="fa-solid fa-calendar-week"></i>Noticias</a></li>
    <li><a href=""><i class="fa-solid fa-blog"></i>Blog</a></li>
    
    <li><a href=""><i class="fa-solid fa-right-from-bracket"></i>Cerrar Sesión</a></li>
  </ul>
</div>