# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
.env
uploads/casos/1zvP-QeYF.pdf
uploads/casos/uxeRWqXVS.pdf
uploads/casos/xfW-jIBYA.pdf
uploads/casos/2xLvoD0U_.pdf
uploads/casos/66l3eMFmr.pdf
uploads/casos/CnQMjXx-B.pdf
uploads/casos/ELJNljOeL.pdf
uploads/casos/BYQLHDhwa.pdf
uploads/casos/gpgLawSSo.pdf
uploads/casos/W2IrlVaLq.pdf
*.pdf
