<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitud</title>
        <link rel="stylesheet" href="/assets/css/login.css">
</head>
<body>
    <section>
        <div class="contenedor">
            <div class="imagenCimarc">
            </div>
            <div class="formulario">
                <form action="#" style="width: 70%;">
                    <div>
                        <img src="assets/images/Cimarc.png" alt="" style="width: 60%;">
                    </div>
                    <br>
                    <h3>Solicitar Nueva Contraseña</h3>
                    <br>
                    <p>En caso de no recordar tu contraseña puedes solicitar una nueva contraseña a través de nuestro WhatsApp</p>
                    <br>
                    <div class="button">
                        <a href="https://Wa.me/51913766540" class="btn btn1">Solicitar
                        </a>
                    </div>   
                </form>
            </div>
        </div>
    </section>
</body>
</html>