<section>
    <div class="contenedor">
        <div class="imagenCimarc">
        </div>
        <div class="formulario">
            <form action="/iniciar-sesion" method="POST">
                <div>
                    <img src="assets/images/Cimarc.png" alt="" style="width: 60%;">
                </div>
                <br>
                <h2>Iniciar Sesi칩n</h2>
                <div class="input-contenedor">
                    <i class="fa-solid fa-user"></i>
                    <input type="email" name="email" required>
                    <label >Email</label>
                </div>
                <div class="input-contenedor">
                    <i class="fa-solid fa-user"></i>
                    <input type="password" name="password" required>
                    <label >Contrase침a</label>
                </div>
                <div class="recordar">
                    <label for="#">
                        <input type="checkbox">Recordar la Contrase침a
                    </label>
                    <a href="/contrasena">Olvidaste tu contrase침a?</a>
                </div>
                <br>
                <div class="button">
                    <input type="submit" class="btn" value="Iniciar Sesion">
                </div>

            </form>
        </div>
    </div>
</section>