<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="manifest" href="%PUBLIC_URL%/manifest.json" /> -->
    <link rel="stylesheet" href="/assets/css/slick.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/login.css">
    <link rel="stylesheet" href="/assets/css/drawer.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-drawer.min.css">
    <link rel="stylesheet" href="/assets/css/animate-4.1.1.min.css">
    <link rel="stylesheet" href="/assets/css/barra.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;display=swap"/>
    <link rel="shortcut icon" type="image/png" href="assets/images/fav.png" />
    <script src="https://kit.fontawesome.com/4b7cc085cf.js" crossorigin="anonymous"></script>
    <title>CIMARC</title>
</head>
<body>

    <% if(isHome) { %>
        <header id="header">
            <div class="top-nav style-one" style="background-color: #03a7ff;">
              <div class="container flex-between h-44">
                <div class="left-block flex-item-center">
                  <div class="location flex-item-center" style="width: 100%;">
                    <i class="fa-solid fa-location-dot" style="color: white;"></i>
                    <span class="ml-8 caption1 text-white">Jr. La Mar 493, Barrio San Pedro, Cajamarca - Perú</span>
                  </div>
                  <div class="mail ml-28 flex-item-center">
                    <i class="fa-regular fa-envelope" style="color: white;"></i>
                    <span class="ml-8 caption1 text-white">centrointernacionalcimarc@gmail.com</span>
                  </div>
                </div>
                <div class="right-block flex-item-center gap-20">
                  <select class="border-none outline-none text-white pr-8 caption2" name="language" style="background-color: #03a7ff;">
                    <option value="Espana">Español</option>
                    <option value="English">English</option>
                  </select>
                  <div class="line h-24 w-1 bg-white"></div>
                  <div class="list-social flex-item-center gap-10 style-one color-white">
                    <a class="item bora-50 w-28 h-28 flex-center"
                       href="https://www.facebook.com/centrointernacionalcimarc"
                       target="_blank"
                       rel="noopener noreferrer">
                      <i class="fa-brands fa-facebook" style="color: white;"></i>
                    </a>
                    <a class="item bora-50 w-28 h-28 flex-center"
                       href="https://www.linkedin.com/company/centro-internacional-cimarc/"
                       target="_blank"
                       rel="noopener noreferrer">
                      <i class="fa-brands fa-linkedin" style="color: white;"></i>
                    </a>
                    <a class="item bora-50 w-28 h-28 flex-center"
                       href="https://www.twitter.com/"
                       target="_blank"
                       rel="noopener noreferrer">
                      <i class="fa-brands fa-twitter" style="color: white;"></i>
                    </a>
                    <a class="item bora-50 w-28 h-28 flex-center"
                       href="https://instagram.com/centro_internacional_cimarc"
                       target="_blank"
                       rel="noopener noreferrer">
                      <i class="fa-brands fa-instagram" style="color: white;"></i>
                    </a>
                    <a class="item bora-50 w-28 h-28 flex-center"
                       href="https://www.youtube.com/"
                       target="_blank"
                       rel="noopener noreferrer">
                      <i class="fa-brands fa-youtube" style="color: white;"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </header>
    <% }%>
    <% if(isCliente) { %>
      <div class="sidebar">
        <header>Cliente CIMARC</header>
        <ul>
          <li><a href=""><i class="fa-solid fa-book"></i>Historial</a></li>
        
          <li><a href="/cerrar-sesion"><i class="fa-solid fa-right-from-bracket"></i>Cerrar Sesión</a></li>
        </ul>
      </div>
    <% } %>
    <% if(isJobs) { %>
      <div class="sidebar">
        <header>Trabajador CIMARC</header>
        <ul>
          <li><a href=""><i class="fa-solid fa-book"></i>Historial de Casos</a></li>
          <li><a href=""><i class="fa-solid fa-dollar-sign"></i>Listado</a></li>
          
          <li><a href="/cerrar-sesion"><i class="fa-solid fa-right-from-bracket"></i>Cerrar Sesión</a></li>
        </ul>
      </div>
    <% } %>
    <% if(isAdmin) {%>
      <div class="sidebar">
        <header>Admin CIMARC</header>
        <ul>
          <li><a href=""><i class="fa-solid fa-book"></i>Lista de Casos</a></li>
          <li><a href=""><i class="fa-solid fa-dollar-sign"></i>Lista de Pagos</a></li>
          <li><a href="/admin/mantenimientoUsu"><i class="fa-solid fa-user"></i>Mantenimiento Usuarios</a></li>
          <li><a href=""><i class="fa-solid fa-chart-line"></i>Estadisticas</a></li>
          <li><a href=""><i class="fa-solid fa-address-card"></i>Eventos</a></li>
          <li><a href=""><i class="fa-solid fa-calendar-week"></i>Noticias</a></li>
          <li><a href=""><i class="fa-solid fa-blog"></i>Blog</a></li>
          <li><a href="/cerrar-sesion"><i class="fa-solid fa-right-from-bracket"></i>Cerrar Sesión</a></li>
        </ul>
      </div>
    <% } %>
    <!-- cuerpo -->
    <%- body %>

</body>
</html>