<div class="sidebar">
    <header>Cliente CIMARC</header>
    <ul>
      <li><a href=""><i class="fa-solid fa-book"></i>Historial</a></li>
    
      <li><a href=""><i class="fa-solid fa-right-from-bracket"></i>Cerrar Sesión</a></li>
    </ul>
</div>