@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Raleway:wght@400;700;900&family=Roboto&family=Staatliches&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    display: flex;
}

.sidebar {
    position: fixed;
    left: 0;
    width: 320px;
    height: 100%;
    background: #03a7ff;
    display: flex;
    flex-direction: column;
}

.sidebar header {
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background-color: #039BE5;
    user-select: none;
}

.sidebar ul {
    padding: 0;
}

.sidebar ul li {
    display: flex;
}

.sidebar ul a {
    display: block;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(142, 133, 136, 1);
    transition: .4s;
}

.sidebar ul a:hover {
    padding-left: 50px;
    color: black;
}

.sidebar ul a i {
    margin-right: 16px;
}

.content {
    margin-left: 320px; /* Ancho de la barra lateral */
    padding: 20px;
    flex-grow: 1;
}

/* Estilos para el botón a la derecha */
.boton-derecha {
    float: right;
    margin-right: 20px;
    padding: 10px;
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del texto */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton-derecha:hover {
    background-color: #45a049; /* Cambio de color al pasar el ratón */
}

/* Estilos para el formulario de inicio de sesión */
.seccion-formulario {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.seccion-formulario h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.seccion-formulario label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
}

.seccion-formulario input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.seccion-formulario button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.seccion-formulario button:hover {
    background-color: #45a049;
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Estilos para los botones de acciones */
button {
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
}

.seccion-formulario {
    /* Estilos del formulario */
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.seccion-formulario h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}
textarea#descripcion {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical; /* Opcional: permite redimensionar verticalmente */
}

.seccion-formulario label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
}

.seccion-formulario input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.seccion-formulario button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.seccion-formulario button:hover {
    background-color: #45a049;
}
