@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Raleway:wght@400;700;900&family=Roboto&family=Staatliches&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.sidebar{
    position: fixed;
    left: 0;
    width: 320px;
    height: 100%;
    background: #03a7ff;
}
.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background-color: #039BE5;
    user-select: none;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(142, 133, 136, 1);
    border-bottom: ipx solid gray;
    transition: .4s;
}
ul li:hover a{
    padding-left: 50px;
    color: black;
}
.sidebar ul a i{
    margin-right: 16px;
}