<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/barra.css">
<div class="content">

            <% if (successMessage) { %>
                <div class="d-flex justify-content-center mt-3">
                    <div class="alert alert-success text-center" role="alert">
                <%= successMessage %>
            </div>
        </div>
            <% } %>
 

    <div class="seccion-botones">
        <br>
        <a href="/admin/register" class="boton-derecha">Registrar Usuarios</a>
    </div>
    <br>
    <h1>Listado de Usuarios</h1>
        <div class="lista-usuarios">
            <table>
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% usuarios.forEach(usuario => { %>
                        <tr>
                            <td><%= usuario.email %></td>
                            <td><%= usuario.role %></td>
                            <td class="acciones">
                                <button onclick="">Ver</button>
                                <button onclick="">Editar</button>
                                <button onclick="">Eliminar</button>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
</div>