<div id="content">
  <div class="slider-sub ">
    <div class="bg-img"> <img src="/assets/images/banner/cimarc-banner.png" alt="banner"/></div>
    <div class="container"> 
      <div class="heading-nav gap-4 mt-32"><a class="hover-underline caption1 text-white" href="/">Home</a><i class="ph ph-caret-double-right text-white"></i>
        <div class="caption1 text-white">Sobre Nosotros</div>
      </div>
      <div class="text-nav"> 
        <div class="heading3 text-white">Sobre Nosotros</div>
        <div class="sub-heading mt-8 text-white fw-400">Somos un Centro altamente especializado que promueve la cultura de paz, mediante la gestión eficiente, célere y transparente de los conflictos.</div>
      </div>
    </div>
  </div>
<div class="financial-assessment-block pt-100 pb-100 bg-white">
<div class="container">
<div class="row flex-item-center">
  <div class="col-12 col-xl-6 col-lg-12">
    <div class="bg-img w-100 overflow-hidden bora-20"><img class="w-100 h-100 hover-scale display-block bora-20" src="/assets/images/component/abogado.jpg" alt=""/></div>
  </div>
  <div class="col-12 col-xl-6 col-lg-12 flex-column">
    <div class="heading3 ml-40">Visión General De La Empresa</div>
    <div class="nav-infor ml-40 mt-40">
      <div class="list-nav flex-item-center gap-40">
        <div class="nav-item active" data-name="about-us">Sobre Nosotros</div>
        <div class="nav-item" data-name="mission">Misión</div>
        <div class="nav-item" data-name="vision">Visión</div>
      </div>
      <div class="description item-filter" data-name="about-us">
        <div class="title body3 text-secondary mt-16">Somos un Centro independiente e imparcial especializado en mecanismos alternativos de resolución de conflictos, comprometido con la difusión de las buenas prácticas, gestión de calidad y prácticas antisoborno.</div>
        <div class="more-infor mt-24">
          <div class="infor flex-item-center gap-12"> <i class="ph-fill ph-check-circle fs-20 text-blue"></i>
            <div class="text-button">Independencia e Imparcialidad</div>
          </div>
          <div class="infor flex-item-center gap-12 mt-12"> <i class="ph-fill ph-check-circle fs-20 text-blue"></i>
            <div class="text-button">Especialización en Mecanismos Alternativos</div>
          </div>
          <div class="infor flex-item-center gap-12 mt-12"> <i class="ph-fill ph-check-circle fs-20 text-blue"></i>
            <div class="text-button">Compromiso con la Calidad y Ética</div>
          </div>
        </div>
      </div>
      <div class="description item-filter hide" data-name="mission">
        <div class="title body3 text-secondary mt-16">Somos un Centro de Arbitraje, Conciliación y Mecanismo Alternativo de Resolución de Conflictos orientados a la prevención, gestión y administración eficaz, célere y transparente de conflictos entre personas, empresas y organizaciones, contribuyendo con ellos a mejorar y promover una cultura de paz, crecimiento y desarrollo social, a través de la ética, independiente e imparcialidad de cada proceso.</div>
        <div class="more-infor mt-24">
          <div class="infor flex-item-center gap-12"> <i class="ph-fill ph-check-circle fs-20 text-blue"></i>
            <div class="text-button">Amplitud de Servicios</div>
          </div>
          <div class="infor flex-item-center gap-12 mt-12"> <i class="ph-fill ph-check-circle fs-20 text-blue"></i>
            <div class="text-button">Enfoque Preventivo y Eficiente</div>
          </div>
          <div class="infor flex-item-center gap-12 mt-12"> <i class="ph-fill ph-check-circle fs-20 text-blue"></i>
            <div class="text-button">Contribución Social</div>
          </div>
        </div>
      </div>
      <div class="description item-filter hide" data-name="vision">
        <div class="title body3 text-secondary mt-16">Para el 2027, seremos el Centro de Arbitraje, Conciliación y Mecanismo Alternativos de Resolución de Conflictos con liderazgo en la Región Norte del Perú, siendo reconocidos por la implementación de procesos claros, efectivos, éticos e innovadores, orientados a la aplicación de las mejores prácticas internacionales, así como a la plena satisfacción de nuestros clientes, garantizando la calidad y transparencia de nuestro servicio.</div>
        <div class="more-infor mt-24">
          <div class="infor flex-item-center gap-12"> <i class="ph-fill ph-check-circle fs-20 text-blue"></i>
            <div class="text-button">Liderazgo Regional</div>
          </div>
          <div class="infor flex-item-center gap-12 mt-12"> <i class="ph-fill ph-check-circle fs-20 text-blue"></i>
            <div class="text-button">Compromiso con la Excelencia</div>
          </div>
          <div class="infor flex-item-center gap-12 mt-12"> <i class="ph-fill ph-check-circle fs-20 text-blue"></i>
            <div class="text-button">Satisfacción del Cliente</div>
          </div>
        </div>
      </div>
    </div>
    <div class="button-block flex-item-center gap-20 ml-40 mt-40 pb-8"><a class="button-share text-white bg-blue hover-button-black text-button pt-14 pb-14 pl-36 pr-36 bora-48" href="/contactos">Contactanos</a><a class="button-share text-on-surface hover-button-black bg-white text-button pt-12 pb-12 pl-36 pr-36 bora-48 border-blue-2px flex-item-center gap-8" href="https://Wa.me/51913766540"><i class="ph ph-phone fs-20"></i><span>(+51) 913 766 540</span></a>
    </div>
  </div>
</div>
</div>
</div>

<div class="service-block mt-100 pt-100 pb-100 bg-surface">
<div class="container"> 
<div class="heading-block text-center">
  <div class="heading3">Nuestros Servicios</div>
  <div class="body3 text-secondary mt-12">Servicio de conciliación y arbitraje personalizado, diseñado para abordar sus necesidades específicas y fomentar soluciones efectivas en la resolución de conflictos </div>
</div>
<div class="list-service row mt-32 row-gap-24">
  <div class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6">
          <div class="service-item hover-box-shadow bora-8 pt-32 pb-32 pl-28 pr-28 bg-white"><a class="service-item-main flex-column gap-16" href="service/conciliacion">
              <div class="heading flex-item-center gap-16"><i class="icon-coin-hand text-blue fs-42"></i>
                <div class="heading6 hover-text-blue">Conciliacion</div>
              </div>
              <div class="body3 text-secondary">La conciliación es un proceso de resolver conflictos mediante la ayuda de un tercero neutral para llegar a un acuerdo mutuo entre las partes enfrentadas.</div>
              <div class="explore-block flex-item-center gap-4">
                <div class="text-button-small text-blue">Ver más</div><i class="ph-bold ph-caret-double-right fs-12 text-blue"></i>
              </div></a>
          </div>
  </div>
  <div class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6">
          <div class="service-item hover-box-shadow bora-8 pt-32 pb-32 pl-28 pr-28 bg-white"><a class="service-item-main flex-column gap-16" href="/service/arbitraje">
              <div class="heading flex-item-center gap-16"><i class="icon-coin-pig text-blue fs-42"></i>
                <div class="heading6 hover-text-blue">Arbitraje</div>
              </div>
              <div class="body3 text-secondary">El arbitraje es un proceso de resolución de conflictos donde un árbitro imparcial toma decisiones vinculantes, ofreciendo una alternativa eficiente a los tribunales.</div>
              <div class="explore-block flex-item-center gap-4">
                <div class="text-button-small text-blue">Ver más</div><i class="ph-bold ph-caret-double-right fs-12 text-blue"></i>
              </div></a>
          </div>
  </div>
</div>
</div>
</div>
<div class="our-team-block pt-100 bg-white">
<div class="container"> 
<div class="heading-block">
  <div class="heading3">Nuestro Equipo Profesional</div>
</div>
<div class="list-member mt-40 row row-gap-32">
  <div class="col-12 col-xl-3 col-lg-3 col-md-6 col-sm-6">
    <div class="bg-img w-100"><img class="w-100 h-100 display-block" src="/assets/images/member/ana.jpg" alt=""/>
      <div class="list-social bg-white"><a href="http://facebook.com" target="_blank"> <i class="icon-facebook fs-14"></i></a><a href="http://linkedin.com" target="_blank"> <i class="icon-in fs-14"></i></a><a href="http://twitter.com" target="_blank"> <i class="icon-twitter fs-12"></i></a><a href="http://instagram.com" target="_blank"> <i class="icon-insta fs-12"></i></a></div>
    </div>
    <div class="infor text-center pt-16">
      <div class="name heading6">Ana Cecilia Rivasplata</div>
      <div class="caption1 text-secondary">Secretaria General  </div>
    </div>
  </div>
  <div class="col-12 col-xl-3 col-lg-3 col-md-6 col-sm-6">
    <div class="bg-img w-100"><img class="w-100 h-100 display-block" src="/assets/images/member/paola.jpg" alt=""/>
      <div class="list-social bg-white"><a href="http://facebook.com" target="_blank"> <i class="icon-facebook fs-14"></i></a><a href="http://linkedin.com" target="_blank"> <i class="icon-in fs-14"></i></a><a href="http://twitter.com" target="_blank"> <i class="icon-twitter fs-12"></i></a><a href="http://instagram.com" target="_blank"> <i class="icon-insta fs-12"></i></a></div>
    </div>
    <div class="infor text-center pt-16">
      <div class="name heading6">Paola Ibañez</div>
      <div class="caption1 text-secondary">Conciliadora Extrajudicial</div>
    </div>
  </div>
  <div class="col-12 col-xl-3 col-lg-3 col-md-6 col-sm-6">
    <div class="bg-img w-100"><img class="w-100 h-100 display-block" src="/assets/images/member/pamela.jpg" alt=""/>
      <div class="list-social bg-white"><a href="http://facebook.com" target="_blank"> <i class="icon-facebook fs-14"></i></a><a href="http://linkedin.com" target="_blank"> <i class="icon-in fs-14"></i></a><a href="http://twitter.com" target="_blank"> <i class="icon-twitter fs-12"></i></a><a href="http://instagram.com" target="_blank"> <i class="icon-insta fs-12"></i></a></div>
    </div>
    <div class="infor text-center pt-16">
      <div class="name heading6">Pamela Abanto</div>
      <div class="caption1 text-secondary">Asistente Legal </div>
    </div>
  </div>  
</div>
</div>
</div>
<div class="partner-five-col style-one mt-60 pb-60 bg-white">
  <div class="partner-five-col style-one mt-60 pb-60 bg-white">
    <div class="list pt-32 pb-32">
        <div class="bg-img flex-center"><p class="w-100">Ético</p></div>
        <div class="bg-img flex-center"><p class="w-100">Eficaz</p></div>
        <div class="bg-img flex-center"><p class="w-100">Justo</p></div>
        <div class="bg-img flex-center"><p class="w-100">Imparcial</p></div>
        <div class="bg-img flex-center"><p class="w-100">Equitativo</p></div>
        <div class="bg-img flex-center"><p class="w-100">Profesional</p></div>
        <div class="bg-img flex-center"><p class="w-100">Transparente</p></div>
        <div class="bg-img flex-center"><p class="w-100">Confidencial</p></div>
        <div class="bg-img flex-center"><p class="w-100">Colaborativo</p></div>
        <div class="bg-img flex-center"><p class="w-100">Independiente</p></div>
    </div>
  </div><a class="scroll-to-top-btn" href="#header"><i class="ph-bold ph-caret-up"></i></a>

  
</div>

</body>