<div id="content">
            <div class="slider-sub ">
              <div class="bg-img"> <img src="/assets/images/banner/contacto1.jpg" alt="banner"/></div>
              <div class="container"> 
                <div class="heading-nav gap-4 mt-32"><a class="hover-underline caption1 text-white" href="/">Home</a><i class="ph ph-caret-double-right text-white"></i>
                  <div class="caption1 text-white">Contáctanos</div>
                </div>
                <div class="text-nav"> 
                  <div class="heading3 text-white">Contáctanos</div>
                  <div class="sub-heading mt-8 text-white fw-400">Agradecemos su interés en contactarnos. Estamos a su disposición para cualquier pregunta o comentario, o si desea recibir más información sobre alguno de nuestros servicios. Responderemos a la brevedad.

                  </div>
                </div>
              </div>
            </div>
      <div class="form-contact style-two mt-100"> 
        <div class="container"> 
          <div class="row flex-between row-gap-32">
            <div class="col-12 col-lg-5">
              <div class="infor flex-columns-between row-gap-32">
                <div class="heading">
                  <div class="title">Contáctenos</div>
                  <div class="heading3 mt-12">Información de contacto</div>
                  <div class="body3 mt-8">Nos comunicaremos con usted dentro de las 24 horas o llámenos todos los días.</div>
                </div>
                <div class="list-more-infor">
                  <div class="item flex-item-center gap-12"><i class="ph-fill ph-phone text-white bg-on-surface p-8 bora-50"></i>
                    <div class="line-y"> </div>
                    <a href="https://api.whatsapp.com/send?phone=51913766540"><i class="ph ph-phone fs-20"></i><span>(51) 913 766 540</span>>
                    </a>
                  </div>
                  <div class="item flex-item-center gap-12 mt-20"><i class="ph-bold ph-envelope-simple text-white bg-on-surface p-8 bora-50"></i>
                    <div class="line-y"> </div>
                    <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=centrointernacionalcimarc@gmail.com&su=&body=&ui=2&tf=1" target="_blank" class="body2">
                      centrointernacionalcimarc@gmail.com
                    </a>
                  </div>
                  <div class="item flex-item-center gap-12 mt-20"><i class="ph-bold ph-map-pin text-white bg-on-surface p-8 bora-50"></i>
                    <div class="line-y"> </div>
                    <a href="https://www.google.com/maps/place/La+Mar+493,+Cajamarca+06001/@-7.157159,-78.520486,14z/data=!4m6!3m5!1s0x91b25af89f8173ab:0x6d00f9d82fa6f84e!8m2!3d-7.1571595!4d-78.5204856!16s%2Fg%2F11c1zm45l0?hl=es-419&entry=ttu" target="_blank" class="body2">
                      Jr. La Mar 493, Barrio San Pedro, Cajamarca - Perú
                    </a>
                  </div>
                </div>
                <div class="list-social flex-item-center gap-10"><a class="item bora-50 w-48 h-48 flex-center bg-surface" href="https://www.facebook.com/" target="_blank"><i class="icon-facebook icon-on-surface"></i></a><a class="item bora-50 w-48 h-48 flex-center bg-surface" href="https://www.linkedin.com/" target="_blank"><i class="icon-in icon-on-surface"></i></a><a class="item bora-50 w-48 h-48 flex-center bg-surface" href="https://www.twitter.com/" target="_blank"><i class="icon-twitter fs-14 icon-on-surface ml-1"></i></a><a class="item bora-50 w-48 h-48 flex-center bg-surface" href="https://www.instagram.com/" target="_blank"><i class="icon-insta fs-14 icon-on-surface"></i></a><a class="item bora-50 w-48 h-48 flex-center bg-surface" href="https://www.youtube.com/" target="_blank"><i class="icon-youtube fs-12 icon-on-surface"></i></a></div>
              </div>
            </div>
            <div class="col-12 col-lg-5">
              <form action="/enviar" method="post">
                <div class="form-block flex-columns-between gap-20">
                  <div class="row row-gap-20">
                    <div class="col-12 col-sm-6">
                      <input class="w-100 bg-surface text-secondary caption1 pl-16 pr-16 pt-12 pb-12 bora-8" type="text" placeholder="Name" name="name"/>
                    </div>
                    <div class="col-12 col-sm-6">     
                      <input class="w-100 bg-surface text-secondary caption1 pl-16 pr-16 pt-12 pb-12 bora-8" type="text" placeholder="Subject" name="subject"/>
                    </div>
                    <div class="col-12">
                      <input class="w-100 bg-surface text-secondary caption1 pl-16 pr-16 pt-12 pb-12 bora-8" type="text" placeholder="Email" name="email"/>
                    </div>
                    
                    <div class="col-12"> 
                      <textarea class="w-100 bg-surface text-secondary caption1 pl-16 pr-16 pt-12 pb-12 bora-8" name="messsage" cols="10" rows="4" placeholder="Your Questions..."></textarea>
                    </div>
                  </div>
                  <div class="button-block">
                                    <button class="button-share bg-on-surface text-button text-white pl-36 pr-36 pt-12 pb-12 bora-48">Enviar mensaje</button>
                  </div>
                </div>
              </form>
              <% if (mensajeEnviado) { %>
                <p style="color: green;">¡Gracias por contactarnos! Te responderemos pronto.</p>
              <% } %>
            </div>
          </div>
        </div>
        <div class="map-block mt-100">
          <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d247.4206188564998!2d-78.52032465224022!3d-7.157194001675656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sjr.la%20mar%20493%2Cbarrio%20san%20pedro%20cajamarca%20%2C%20peru!5e0!3m2!1ses!2spe!4v1701195363783!5m2!1ses!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        </div>
      </div><a class="scroll-to-top-btn" href="#header"><i class="ph-bold ph-caret-up"></i></a>
    </div>