<div id="content">
    <div class="slider-sub ">
      <div class="bg-img"> <img src="assets/images/documen.PNG" alt="banner"/></div>
      <div class="container"> 
        <div class="heading-nav gap-4 mt-32"><a class="hover-underline caption1 text-white" href="index.html">Inicio</a><i class="ph ph-caret-double-right text-white"></i>
          <div class="caption1 text-white"></div>
        </div>
        <div class="text-nav"> 
          <div class="heading3 text-white">Documentos CIMARC</div>
          <div class="sub-heading mt-8 text-white fw-400">Queremos asegurarnos de que su experiencia con nosotros sea lo más sencilla y segura. Les recordamos que toda la información que pueda necesitar se encuentra en nuestros Documentos en línea</div>
        </div>
      </div>
    </div>
<div class="case-studies-block style-two mt-100">
<div class="container"> 
  <div class="list-nav flex-center gap-8">
    <div class="nav-item text-button-small text-secondary pt-8 pb-8 pl-20 pr-20 pointer active" data-name="tarifario">Tarifario</div>
    <div class="nav-item text-button-small text-secondary pt-8 pb-8 pl-20 pr-20 pointer" data-name="reglamento">Reglamento</div>
    <div class="nav-item text-button-small text-secondary pt-8 pb-8 pl-20 pr-20 pointer" data-name="licencia">Licencia</div>
    <div class="nav-item text-button-small text-secondary pt-8 pb-8 pl-20 pr-20 pointer" data-name="crypto">Crypto</div>
    <div class="nav-item text-button-small text-secondary pt-8 pb-8 pl-20 pr-20 pointer" data-name="blockchain">Blockchain</div>
    <div class="nav-item text-button-small text-secondary pt-8 pb-8 pl-20 pr-20 pointer" data-name="planning">Planning</div>
  </div>
  <div class="row mt-40 row-gap-40">
    <div class="col-12 col-xl-4 col-sm-6 item-filter" data-name="tarifario">
      <div class="item-main"> 
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 h-100 bora-16 display-block" src="assets/images/1 manos.jpg" alt=""/><a class="flex-columns-center pt-32 pb-32 pl-20 pr-20 bg-white bora-50 text-center" href="case-studies-detail.html">
            <div class="text-button-small text-blue">Discovery</div><i class="ph-bold ph-arrow-up-right text-blue"></i></a></div>
        <div class="infor bg-white bora-8 pt-24">
          <div class="heading6"><a href="assets/documento/TARIFARIO DE CONCILIACIÓN CIMARC .pdf" download="TARIFARIO DE CONCILIACIÓN CIMARC .pdf"> Tarifario de Conciliación </a></div>
          <div class="body2 text-secondary mt-8"></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 col-sm-6 item-filter" data-name="tarifario">
      <div class="item-main"> 
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 h-100 bora-16 display-block" src="assets/images/2 maso.jpg" alt=""/><a class="flex-columns-center pt-32 pb-32 pl-20 pr-20 bg-white bora-50 text-center" href="case-studies-detail.html">
            <div class="text-button-small text-blue">Discovery</div><i class="ph-bold ph-arrow-up-right text-blue"></i></a></div>
        <div class="infor bg-white bora-8 pt-24">
          <div class="heading6"><a href=""> Tarifario de Arbitraje </a></div>
          <div class="body2 text-secondary mt-8"></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 col-sm-6 item-filter" data-name="tarifario">
      <div class="item-main"> 
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 h-100 bora-16 display-block" src="assets/images/3 martillo.jpg" alt=""/><a class="flex-columns-center pt-32 pb-32 pl-20 pr-20 bg-white bora-50 text-center" href="case-studies-detail.html">
            <div class="text-button-small text-blue">Discovery</div><i class="ph-bold ph-arrow-up-right text-blue"></i></a></div>
        <div class="infor bg-white bora-8 pt-24">
          <div class="heading6"><a href=""> Tarifario de cuantías determinadas</a></div>
          <div class="body2 text-secondary mt-8"></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 col-sm-6 item-filter" data-name="tarifario">
      <div class="item-main"> 
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 h-100 bora-16 display-block" src="assets/images/4 mart.jpg" alt=""/><a class="flex-columns-center pt-32 pb-32 pl-20 pr-20 bg-white bora-50 text-center" href="case-studies-detail.html">
            <div class="text-button-small text-blue">Discovery</div><i class="ph-bold ph-arrow-up-right text-blue"></i></a></div>
        <div class="infor bg-white bora-8 pt-24">
          <div class="heading6"><a href=""> Tarifario de cuantías indeterminadas</a></div>
          <div class="body2 text-secondary mt-8"></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 col-sm-6 item-filter" data-name="tarifario">
      <div class="item-main"> 
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 h-100 bora-16 display-block" src="assets/images/5 sello.jpg" alt=""/><a class="flex-columns-center pt-32 pb-32 pl-20 pr-20 bg-white bora-50 text-center" href="case-studies-detail.html">
            <div class="text-button-small text-blue">Discovery</div><i class="ph-bold ph-arrow-up-right text-blue"></i></a></div>
        <div class="infor bg-white bora-8 pt-24">
          <div class="heading6"><a href=""> Tarifario de Arbitraje express de alta cuantía  </a></div>
          <div class="body2 text-secondary mt-8"></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 col-sm-6 item-filter" data-name="tarifario">
      <div class="item-main"> 
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 h-100 bora-16 display-block" src="assets/images/blog/410x260.png" alt=""/><a class="flex-columns-center pt-32 pb-32 pl-20 pr-20 bg-white bora-50 text-center" href="case-studies-detail.html">
            <div class="text-button-small text-blue">Discovery</div><i class="ph-bold ph-arrow-up-right text-blue"></i></a></div>
        <div class="infor bg-white bora-8 pt-24">
          <div class="heading6"><a href=""> Tarifario de Arbitraje express de baja cuantía  </a></div>
          <div class="body2 text-secondary mt-8"></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="reglamento">
      <div class="item-main"> 
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 h-100 bora-16 display-block" src="assets/images/blog/410x260.png" alt=""/><a class="flex-columns-center pt-32 pb-32 pl-20 pr-20 bg-white bora-50 text-center" href="case-studies-detail.html">
            <div class="text-button-small text-blue">Discovery</div><i class="ph-bold ph-arrow-up-right text-blue"></i></a></div>
        <div class="infor bg-white bora-8 pt-24">
          <div class="heading6"><a href="">Reglamento</a></div>
          <div class="body2 text-secondary mt-8"></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="reglamento">
      <div class="item-main"> 
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 h-100 bora-16 display-block" src="assets/images/blog/410x260.png" alt=""/><a class="flex-columns-center pt-32 pb-32 pl-20 pr-20 bg-white bora-50 text-center" href="case-studies-detail.html">
            <div class="text-button-small text-blue">Discovery</div><i class="ph-bold ph-arrow-up-right text-blue"></i></a></div>
        <div class="infor bg-white bora-8 pt-24">
          <div class="heading6"><a href="">Reglamento del centro de Arbitraje</a></div>
          <div class="body2 text-secondary mt-8"></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="reglamento">
      <div class="item-main"> 
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 h-100 bora-16 display-block" src="assets/images/blog/410x260.png" alt=""/><a class="flex-columns-center pt-32 pb-32 pl-20 pr-20 bg-white bora-50 text-center" href="case-studies-detail.html">
            <div class="text-button-small text-blue">Discovery</div><i class="ph-bold ph-arrow-up-right text-blue"></i></a></div>
        <div class="infor bg-white bora-8 pt-24">
          <div class="heading6"><a href="">Código de ética</a></div>
          <div class="body2 text-secondary mt-8"></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="licencia">
      <div class="item-main"> 
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 h-100 bora-16 display-block" src="assets/images/blog/410x260.png" alt=""/><a class="flex-columns-center pt-32 pb-32 pl-20 pr-20 bg-white bora-50 text-center" href="case-studies-detail.html">
            <div class="text-button-small text-blue">Discovery</div><i class="ph-bold ph-arrow-up-right text-blue"></i></a></div>
        <div class="infor bg-white bora-8 pt-24">
          <div class="heading6"><a href="">Licencia de Funcionamiento </a></div>
          <div class="body2 text-secondary mt-8"></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="licencia">
      <div class="item-main"> 
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 h-100 bora-16 display-block" src="assets/images/blog/410x260.png" alt=""/><a class="flex-columns-center pt-32 pb-32 pl-20 pr-20 bg-white bora-50 text-center" href="case-studies-detail.html">
            <div class="text-button-small text-blue">Discovery</div><i class="ph-bold ph-arrow-up-right text-blue"></i></a></div>
        <div class="infor bg-white bora-8 pt-24">
          <div class="heading6"><a href="">Licencia del Ministerio de Justicia </a></div>
          <div class="body2 text-secondary mt-8"></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="licencia">
      <div class="item-main"> 
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 h-100 bora-16 display-block" src="assets/images/blog/410x260.png" alt=""/><a class="flex-columns-center pt-32 pb-32 pl-20 pr-20 bg-white bora-50 text-center" href="case-studies-detail.html">
            <div class="text-button-small text-blue">Discovery</div><i class="ph-bold ph-arrow-up-right text-blue"></i></a></div>
        <div class="infor bg-white bora-8 pt-24">
          <div class="heading6"><a href="">Permisos de Defensa Civil</a></div>
          <div class="body2 text-secondary mt-8"></div>
        </div>
      </div>
    </div>
    
    
    <div class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="blockchain">
      <div class="item-main"> 
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 h-100 bora-16 display-block" src="assets/images/blog/410x260.png" alt=""/><a class="flex-columns-center pt-32 pb-32 pl-20 pr-20 bg-white bora-50 text-center" href="case-studies-detail.html">
            <div class="text-button-small text-blue">Discovery</div><i class="ph-bold ph-arrow-up-right text-blue"></i></a></div>
        <div class="infor bg-white bora-8 pt-24">
          <div class="heading6">Tax Optimization Solutions</div>
          <div class="body2 text-secondary mt-8">Retirement Planning</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="blockchain">
      <div class="item-main"> 
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 h-100 bora-16 display-block" src="assets/images/blog/410x260.png" alt=""/><a class="flex-columns-center pt-32 pb-32 pl-20 pr-20 bg-white bora-50 text-center" href="case-studies-detail.html">
            <div class="text-button-small text-blue">Discovery</div><i class="ph-bold ph-arrow-up-right text-blue"></i></a></div>
        <div class="infor bg-white bora-8 pt-24">
          <div class="heading6">Business Succession Planning</div>
          <div class="body2 text-secondary mt-8">Account management tools</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="blockchain">
      <div class="item-main"> 
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 h-100 bora-16 display-block" src="assets/images/blog/410x260.png" alt=""/><a class="flex-columns-center pt-32 pb-32 pl-20 pr-20 bg-white bora-50 text-center" href="case-studies-detail.html">
            <div class="text-button-small text-blue">Discovery</div><i class="ph-bold ph-arrow-up-right text-blue"></i></a></div>
        <div class="infor bg-white bora-8 pt-24">
          <div class="heading6">Business Succession Planning</div>
          <div class="body2 text-secondary mt-8">Made Financial Planning</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="blockchain">
      <div class="item-main"> 
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 h-100 bora-16 display-block" src="assets/images/blog/410x260.png" alt=""/><a class="flex-columns-center pt-32 pb-32 pl-20 pr-20 bg-white bora-50 text-center" href="case-studies-detail.html">
            <div class="text-button-small text-blue">Discovery</div><i class="ph-bold ph-arrow-up-right text-blue"></i></a></div>
        <div class="infor bg-white bora-8 pt-24">
          <div class="heading6">Retirement Planning Strategies</div>
          <div class="body2 text-secondary mt-8">Account management tools</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="blockchain">
      <div class="item-main"> 
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 h-100 bora-16 display-block" src="assets/images/blog/410x260.png" alt=""/><a class="flex-columns-center pt-32 pb-32 pl-20 pr-20 bg-white bora-50 text-center" href="case-studies-detail.html">
            <div class="text-button-small text-blue">Discovery</div><i class="ph-bold ph-arrow-up-right text-blue"></i></a></div>
        <div class="infor bg-white bora-8 pt-24">
          <div class="heading6">Tax Optimization Solutions</div>
          <div class="body2 text-secondary mt-8">Retirement Planning</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="planning">
      <div class="item-main"> 
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 h-100 bora-16 display-block" src="assets/images/blog/410x260.png" alt=""/><a class="flex-columns-center pt-32 pb-32 pl-20 pr-20 bg-white bora-50 text-center" href="case-studies-detail.html">
            <div class="text-button-small text-blue">Discovery</div><i class="ph-bold ph-arrow-up-right text-blue"></i></a></div>
        <div class="infor bg-white bora-8 pt-24">
          <div class="heading6">Retirement Planning Strategies</div>
          <div class="body2 text-secondary mt-8">Made Financial Planning</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="planning">
      <div class="item-main"> 
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 h-100 bora-16 display-block" src="assets/images/blog/410x260.png" alt=""/><a class="flex-columns-center pt-32 pb-32 pl-20 pr-20 bg-white bora-50 text-center" href="case-studies-detail.html">
            <div class="text-button-small text-blue">Discovery</div><i class="ph-bold ph-arrow-up-right text-blue"></i></a></div>
        <div class="infor bg-white bora-8 pt-24">
          <div class="heading6">Tax Optimization Solutions</div>
          <div class="body2 text-secondary mt-8">Retirement Planning</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="planning">
      <div class="item-main"> 
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 h-100 bora-16 display-block" src="assets/images/blog/410x260.png" alt=""/><a class="flex-columns-center pt-32 pb-32 pl-20 pr-20 bg-white bora-50 text-center" href="case-studies-detail.html">
            <div class="text-button-small text-blue">Discovery</div><i class="ph-bold ph-arrow-up-right text-blue"></i></a></div>
        <div class="infor bg-white bora-8 pt-24">
          <div class="heading6">Business Succession Planning</div>
          <div class="body2 text-secondary mt-8">Account management tools</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="planning">
      <div class="item-main"> 
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 h-100 bora-16 display-block" src="assets/images/blog/410x260.png" alt=""/><a class="flex-columns-center pt-32 pb-32 pl-20 pr-20 bg-white bora-50 text-center" href="case-studies-detail.html">
            <div class="text-button-small text-blue">Discovery</div><i class="ph-bold ph-arrow-up-right text-blue"></i></a></div>
        <div class="infor bg-white bora-8 pt-24">
          <div class="heading6">Business Succession Planning</div>
          <div class="body2 text-secondary mt-8">Made Financial Planning</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="planning">
      <div class="item-main"> 
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 h-100 bora-16 display-block" src="assets/images/blog/410x260.png" alt=""/><a class="flex-columns-center pt-32 pb-32 pl-20 pr-20 bg-white bora-50 text-center" href="case-studies-detail.html">
            <div class="text-button-small text-blue">Discovery</div><i class="ph-bold ph-arrow-up-right text-blue"></i></a></div>
        <div class="infor bg-white bora-8 pt-24">
          <div class="heading6">Retirement Planning Strategies</div>
          <div class="body2 text-secondary mt-8">Account management tools</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="planning">
      <div class="item-main"> 
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 h-100 bora-16 display-block" src="assets/images/blog/410x260.png" alt=""/><a class="flex-columns-center pt-32 pb-32 pl-20 pr-20 bg-white bora-50 text-center" href="case-studies-detail.html">
            <div class="text-button-small text-blue">Discovery</div><i class="ph-bold ph-arrow-up-right text-blue"></i></a></div>
        <div class="infor bg-white bora-8 pt-24">
          <div class="heading6">Tax Optimization Solutions</div>
          <div class="body2 text-secondary mt-8">Retirement Planning</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="all">
      <div class="item-main"> 
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 h-100 bora-16 display-block" src="assets/images/blog/410x260.png" alt=""/><a class="flex-columns-center pt-32 pb-32 pl-20 pr-20 bg-white bora-50 text-center" href="case-studies-detail.html">
            <div class="text-button-small text-blue">Discovery</div><i class="ph-bold ph-arrow-up-right text-blue"></i></a></div>
        <div class="infor bg-white bora-8 pt-24">
          <div class="heading6">Retirement Planning Strategies</div>
          <div class="body2 text-secondary mt-8">Made Financial Planning</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="all">
      <div class="item-main"> 
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 h-100 bora-16 display-block" src="assets/images/blog/410x260.png" alt=""/><a class="flex-columns-center pt-32 pb-32 pl-20 pr-20 bg-white bora-50 text-center" href="case-studies-detail.html">
            <div class="text-button-small text-blue">Discovery</div><i class="ph-bold ph-arrow-up-right text-blue"></i></a></div>
        <div class="infor bg-white bora-8 pt-24">
          <div class="heading6">Tax Optimization Solutions</div>
          <div class="body2 text-secondary mt-8">Retirement Planning</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="all">
      <div class="item-main"> 
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 h-100 bora-16 display-block" src="assets/images/blog/410x260.png" alt=""/><a class="flex-columns-center pt-32 pb-32 pl-20 pr-20 bg-white bora-50 text-center" href="case-studies-detail.html">
            <div class="text-button-small text-blue">Discovery</div><i class="ph-bold ph-arrow-up-right text-blue"></i></a></div>
        <div class="infor bg-white bora-8 pt-24">
          <div class="heading6">Business Succession Planning</div>
          <div class="body2 text-secondary mt-8">Account management tools</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="all">
      <div class="item-main"> 
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 h-100 bora-16 display-block" src="assets/images/blog/410x260.png" alt=""/><a class="flex-columns-center pt-32 pb-32 pl-20 pr-20 bg-white bora-50 text-center" href="case-studies-detail.html">
            <div class="text-button-small text-blue">Discovery</div><i class="ph-bold ph-arrow-up-right text-blue"></i></a></div>
        <div class="infor bg-white bora-8 pt-24">
          <div class="heading6">Business Succession Planning</div>
          <div class="body2 text-secondary mt-8">Made Financial Planning</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="all">
      <div class="item-main"> 
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 h-100 bora-16 display-block" src="assets/images/blog/410x260.png" alt=""/><a class="flex-columns-center pt-32 pb-32 pl-20 pr-20 bg-white bora-50 text-center" href="case-studies-detail.html">
            <div class="text-button-small text-blue">Discovery</div><i class="ph-bold ph-arrow-up-right text-blue"></i></a></div>
        <div class="infor bg-white bora-8 pt-24">
          <div class="heading6">Retirement Planning Strategies</div>
          <div class="body2 text-secondary mt-8">Account management tools</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="all">
      <div class="item-main"> 
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 h-100 bora-16 display-block" src="assets/images/blog/410x260.png" alt=""/><a class="flex-columns-center pt-32 pb-32 pl-20 pr-20 bg-white bora-50 text-center" href="case-studies-detail.html">
            <div class="text-button-small text-blue">Discovery</div><i class="ph-bold ph-arrow-up-right text-blue"></i></a></div>
        <div class="infor bg-white bora-8 pt-24">
          <div class="heading6">Tax Optimization Solutions</div>
          <div class="body2 text-secondary mt-8">Retirement Planning</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="all">
      <div class="item-main"> 
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 h-100 bora-16 display-block" src="assets/images/blog/410x260.png" alt=""/><a class="flex-columns-center pt-32 pb-32 pl-20 pr-20 bg-white bora-50 text-center" href="case-studies-detail.html">
            <div class="text-button-small text-blue">Discovery</div><i class="ph-bold ph-arrow-up-right text-blue"></i></a></div>
        <div class="infor bg-white bora-8 pt-24">
          <div class="heading6">Retirement Planning Strategies</div>
          <div class="body2 text-secondary mt-8">Made Financial Planning</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="all">
      <div class="item-main"> 
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 h-100 bora-16 display-block" src="assets/images/blog/410x260.png" alt=""/><a class="flex-columns-center pt-32 pb-32 pl-20 pr-20 bg-white bora-50 text-center" href="case-studies-detail.html">
            <div class="text-button-small text-blue">Discovery</div><i class="ph-bold ph-arrow-up-right text-blue"></i></a></div>
        <div class="infor bg-white bora-8 pt-24">
          <div class="heading6">Tax Optimization Solutions</div>
          <div class="body2 text-secondary mt-8">Retirement Planning</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="all">
      <div class="item-main"> 
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 h-100 bora-16 display-block" src="assets/images/blog/410x260.png" alt=""/><a class="flex-columns-center pt-32 pb-32 pl-20 pr-20 bg-white bora-50 text-center" href="case-studies-detail.html">
            <div class="text-button-small text-blue">Discovery</div><i class="ph-bold ph-arrow-up-right text-blue"></i></a></div>
        <div class="infor bg-white bora-8 pt-24">
          <div class="heading6">Business Succession Planning</div>
          <div class="body2 text-secondary mt-8">Account management tools</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="all">
      <div class="item-main"> 
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 h-100 bora-16 display-block" src="assets/images/blog/410x260.png" alt=""/><a class="flex-columns-center pt-32 pb-32 pl-20 pr-20 bg-white bora-50 text-center" href="case-studies-detail.html">
            <div class="text-button-small text-blue">Discovery</div><i class="ph-bold ph-arrow-up-right text-blue"></i></a></div>
        <div class="infor bg-white bora-8 pt-24">
          <div class="heading6">Business Succession Planning</div>
          <div class="body2 text-secondary mt-8">Made Financial Planning</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="all">
      <div class="item-main"> 
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 h-100 bora-16 display-block" src="assets/images/blog/410x260.png" alt=""/><a class="flex-columns-center pt-32 pb-32 pl-20 pr-20 bg-white bora-50 text-center" href="case-studies-detail.html">
            <div class="text-button-small text-blue">Discovery</div><i class="ph-bold ph-arrow-up-right text-blue"></i></a></div>
        <div class="infor bg-white bora-8 pt-24">
          <div class="heading6">Retirement Planning Strategies</div>
          <div class="body2 text-secondary mt-8">Account management tools</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="all">
      <div class="item-main"> 
        <div class="bg-img bora-16 overflow-hidden"><img class="w-100 h-100 bora-16 display-block" src="assets/images/blog/410x260.png" alt=""/><a class="flex-columns-center pt-32 pb-32 pl-20 pr-20 bg-white bora-50 text-center" href="case-studies-detail.html">
            <div class="text-button-small text-blue">Discovery</div><i class="ph-bold ph-arrow-up-right text-blue"></i></a></div>
        <div class="infor bg-white bora-8 pt-24">
          <div class="heading6">Tax Optimization Solutions</div>
          <div class="body2 text-secondary mt-8">Retirement Planning</div>
        </div>
      </div>
    </div>
  </div>
</div>
</div><a class="scroll-to-top-btn" href="#header"><i class="ph-bold ph-caret-up"></i></a>
<div class="pb-100"></div>
</div>

</div>
<!--build:js assets/js/main.min.js-->
<script src="./assets/js/jquery-3.7.0.js"></script>
<script src="./assets/js/jquery-migrate-3.4.1.js"></script>
<script src="./assets/js/slick.min.js"></script>
<script src="./assets/js/waypoints.min.js"></script>
<script src="./assets/js/countUp.min.js"></script>
<script src="./assets/js/phosphor-icon.js"></script>
<script src="./assets/js/scrollreveal-4.0.0.min.js"></script>
<script src="./assets/js/bootstrap-drawer.min.js"></script>
<script src="./assets/js/drawer.min.js"></script>
<script src="./assets/js/main.min.js"></script>
<!--endbuild-->
</body>
</html>