<div id="content">
  <div class="slider-block style-one"> 
    <div class="prev-arrow flex-center"><i class="ph-bold ph-caret-left text-white"></i></div>
    <div class="slider-main">
      <div class="slider-item slider-first">
        <div class="bg-img"> <img class="w-100 h-100 animate__animated animate__fadeIn animate__delay-0-2s" src="assets/images/bannerhome1.jpg" alt=""/></div>
        <div class="container"> 
          <div class="text-content flex-columns-between">
            <div class="heading2 animate__animated animate__fadeInUp animate__delay-0-2s">Soluciones Equitativas<br>En Conciliación y <br>Arbitraje</div>
            <div class="body2 mt-12 text-secondary animate__animated animate__fadeInUp animate__delay-0-5s">En nuestro centro de conciliación y arbitraje, ofrecemos <br>soluciones equitativas para proporcionar un proceso justo y <br>eficiente, guiándote hacia la paz y la resolución justa.</div>
            <div class="button-block mt-40 animate__animated animate__fadeInUp animate__delay-0-8s"><a class="button-share display-inline-block hover-button-black border-none  text-white text-button pl-28 pr-28 pt-12 pb-12 bora-8" href="service-one.html" style="background-image: linear-gradient(to left,#29B6F6,#0288D1, #0066FF); border-radius: 30px;">Solicita ahora</a>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-item slider-second">
        <div class="bg-img"> <img class="w-100 h-100" src="assets/images/Sin título-1 (1).jpg" alt=""/></div>
        <div class="container"> 
          <div class="text-content flex-columns-between">
            <div class="heading2">Transformando  <br>Conflictos en Acuerdos <br><span class=" w-100" style="color: #03a7ff;">La Excelencia en Cada Detalle</span></div>
            <div class="body2 mt-12 text-secondary">Experimenta un enfoque único hacia la resolución de disputas.<br>Ofrecemos servicios de conciliación y arbitraje con un <br>toque personal, guiados por la excelencia y la ética.</div>
            <div class="button-block mt-40"><a class="button-share display-inline-block hover-button-black border-none  text-white text-button pl-28 pr-28 pt-12 pb-12 bora-8" href="service-one.html" style="background-image: linear-gradient(to left,#29B6F6,#0288D1, #0066FF); border-radius: 30px;">Solicita ahora</a>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-item slider-third">
        <div class="bg-img"> <img class="w-100 h-100" src="/assets/images/banner home 2 (1).jpg" alt=""/></div>
        <div class="container"> 
          <div class="text-content flex-columns-between">
            <div class="heading2">Servicios Confiables  <br><span class=" w-100" style="color: #03a7ff;">Confía en Nosotros,<br> Resolvemos Juntos</span></div>
            <div class="body2 mt-12 text-secondary">En CIMARC, entendemos la importancia de la confianza en la <br>resolución de conflictos. Confía en nosotros para superar <br>cualquier obstáculo; estamos comprometidos a resolver juntos cada <br> situación con profesionalismo y empatía.</div>
            <div class="button-block mt-40"><a class="button-share display-inline-block hover-button-black border-none  text-white text-button pl-28 pr-28 pt-12 pb-12 bora-8" href="service-one.html" style="background-image: linear-gradient(to left,#29B6F6,#0288D1, #0066FF); border-radius: 30px;">Solicita ahora</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="next-arrow flex-center"><i class="ph-bold ph-caret-right text-white"></i></div>
  </div>
  <div class="service-block mt-100">
    <div class="container"> 
      <div class="heading3 text-center">Nuestros Servicios</div>
      <div class="list-service row mt-40 row-gap-32" style="justify-content: center;">
        
        <div class="col-12 col-xl-4 col-lg-6 col-md-6 col-sm-6">
                <div class="service-item hover-box-shadow bora-8 p-32 bg-white border-line-1px"><a class="service-item-main flex-column gap-16" href="service-portfolio-management.html">
                    <div class="heading flex-between"><img src="/assets/images/concil.png" alt="" style="width: 22%">
                      <div class="number heading3 text-placehover"> </div>
                    </div>
                    <div class="desc">
                      <div class="heading7 hover-text-blue">Conciliaciones</div>
                      <div class="body3 text-secondary mt-4">Un proceso colaborativo donde un conciliador neutral guía a las partes en la búsqueda de soluciones consensuadas. Priorizamos acuerdos mutuos en contextos legales y familiares, promoviendo una resolución menos adversarial y más rápida de disputas.</div>
                    </div></a>
                </div>
        </div>
        <div class="col-12 col-xl-4 col-lg-6 col-md-6 col-sm-6">
                <div class="service-item hover-box-shadow bora-8 p-32 bg-white border-line-1px"><a class="service-item-main flex-column gap-16" href="service-investment-advice.html">
                    <div class="heading flex-between"><img src="/assets/images/arbi.png" alt="" style="width: 15%">
                      <div class="number heading3 text-placehover"> </div>
                    </div>
                    <div class="desc">
                      <div class="heading7 hover-text-blue">Arbitraje</div>
                      <div class="body3 text-secondary mt-4">Una vía eficiente para resolver disputas donde las partes aceptan la decisión de un árbitro neutral. Ofrecemos asesoramiento en la inclusión de cláusulas de arbitraje en contratos y abordamos conflictos comerciales de manera rápida y adaptada a las necesidades empresariales.</div>
                    </div></a>
                </div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="payment-gateway-one mt-100 bg-surface">
    <div class="bg-img"> <img class="w-100 h-100 " src="/assets/images/contactanos.JPG" alt=""/></div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-xl-6">
          <div class="payment-infor flex-columns-between">
            <!--<div class="heading flex-item-center gap-16">
              <div class="bg-img"> <img class="w-100" src="assets/images/component/avatar-gateway1.png" alt=""/></div>
              <div class="text-button text-secondary">Trusted by 50M+ People <br>around the globe</div>
            </div>-->
            <div class="text">
              <div class="heading3">Esperamos contactar contigo</div>
              <div class="body3 text-secondary mt-24">En CIMARC estamos comprometidos para AYUDARTE a resolver conflictos de manera célere iConfía en nosotros para encontrar soluciones justas y eficientes!</div>
            </div>
            <div class="button-block flex-item-center gap-24"><a class="button-share box-shadow hover-button-black text-white  text-button pt-12 pb-12 pl-36 pr-36 bora-48" href="/contactos" style="background-color: #03a7ff;">Empezamos</a><a class="button-share box-shadow hover-button-black text-on-surface bg-white text-button pt-12 pb-12 pl-36 pr-36 bora-48 flex-item-center gap-8" href="https://api.whatsapp.com/send?phone=51913766540"><i class="ph ph-phone fs-20"></i><span>(51) 913 766 540</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="benefit-block style-one mt-100"> 
    <div class="container"> 
      <div class="heading text-center">
        <div class="heading3">Materias Arbitrables</div>
        <div class="right flex-columns-center gap-8 mt-12">
          <div class="body3">Resuelve tus conflictos con un Tribunal Arbitral Independiente de manera célere, eficiente y ética.</div><a class="flex-item-center gap-8 hover-text-blue" href="service-one.html">
            <div class="text-button">Ver nuestros Servicios</div><i class="ph-bold ph-caret-double-right fs-12 mt-4"></i></a>
        </div>
      </div>
    </div>
    <div class="list-benefit mt-40">
      <div class="row" style="justify-content: center;"> 
        
        <div class="col-12 col-xl-3 col-sm-6">
          <div class="benefit-item"> 
            <div class="bg-img"> <img class="w-100 h-100 display-block" src="assets/images/contracion.PNG" alt="" style="height: 620px;"/></div>
            <div class="text flex-columns-between gap-12">
              <div class="heading5"><a class="text-white" href="case-studies-detail.html">Contrataciones con el Estado</a></div>
              <div class="body2 text-white">Incumplimiento o resolución de contrato, ampliación de plazo, indemnización, penalidades, liquidación de contrato, vicios ocultos, etc.</div><a class="flex-item-center gap-4" href="/service/arbitraje">
                <div class="text-button text-white">Seguir leyendo </div><i class="ph-bold ph-caret-double-right fs-12 mt-4 text-white"></i></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-3 col-sm-6">
          <div class="benefit-item"> 
            <div class="bg-img"> <img class="w-100 h-100 display-block" src="assets/images/comercial.jpg" alt="634" style="height: 620px;"/></div>
            <div class="text flex-columns-between gap-12">
              <div class="heading5"><a class="text-white" href="case-studies-detail.html">Comercial</a></div>
              <div class="body2 text-white">Incumpliento de contrato, propiedad intelectual, disputas entre socios o accionistas, litigios entre socios o accionistas, etc.</div><a class="flex-item-center gap-4" href="/service/arbitraje">
                <div class="text-button text-white">Seguir leyendo </div><i class="ph-bold ph-caret-double-right fs-12 mt-4 text-white"></i></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-3 col-sm-6">
          <div class="benefit-item"> 
            <div class="bg-img"> <img class="w-100 h-100 display-block" src="assets/images/civil.PNG" alt="" style="height: 620px;"/></div>
            <div class="text flex-columns-between gap-12">
              <div class="heading5"><a class="text-white" href="case-studies-detail.html">Civil</a></div>
              <div class="body2 text-white">Incumplimiento o resolución de contrato, desalojo, indemnización, pago de deudas, otorgamiento de escritura pública, etc.</div><a class="flex-item-center gap-4" href="/service/arbitraje">
                <div class="text-button text-white">Seguir leyendo </div><i class="ph-bold ph-caret-double-right fs-12 mt-4 text-white"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--2da materia-->
  <div class="benefit-block style-one mt-100"> 
    <div class="container"> 
      <div class="heading text-center">
        <div class="heading3">Materias Conciliables </div>
        <div class="right flex-columns-center gap-8 mt-12">
          <div class="body3">Soluciona conflictos evitando costos y tiempos asociados con Juicios</div><a class="flex-item-center gap-8 hover-text-blue" href="service-one.html">
            <div class="text-button">Ver nuestros Servicios</div><i class="ph-bold ph-caret-double-right fs-12 mt-4"></i></a>
        </div>
      </div>
    </div>
    <div class="list-benefit mt-40">
      <div class="row"> 
        <div class="col-12 col-xl-3 col-sm-6">
          <div class="benefit-item"> 
            <div class="bg-img"> <img class="w-100 h-100 display-block" src="assets/images/familiar.PNG" alt="" style="height: 620px;"/></div>
            <div class="text flex-columns-between gap-12">
              <div class="heading5"><a class="text-white" href="/service/conciliacion">Familia</a></div>
              <div class="body2 text-white">Alimentos, tenencia, régimen de visitas, liquidación de sociedad de gananciales, división y participación de herencia, etc.</div><a class="flex-item-center gap-4" href="service-detail.html">
                <div class="text-button text-white">Seguir leyendo </div><i class="ph-bold ph-caret-double-right fs-12 mt-4 text-white"></i></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-3 col-sm-6">
          <div class="benefit-item"> 
            <div class="bg-img"> <img class="w-100 h-100 display-block" src="assets/images/contracion2.PNG" alt="" style="height: 620px;"/></div>
            <div class="text flex-columns-between gap-12">
              <div class="heading5"><a class="text-white" href="/service/conciliacion">Contrataciones con el Estado</a></div>
              <div class="body2 text-white">Incumplimiento o resolución de contrato, ampliación de plazo, indemnización, penalidades, liquidación de contrato, vicios ocultos, etc.</div><a class="flex-item-center gap-4" href="service-detail.html">
                <div class="text-button text-white">Seguir leyendo </div><i class="ph-bold ph-caret-double-right fs-12 mt-4 text-white"></i></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-3 col-sm-6">
          <div class="benefit-item"> 
            <div class="bg-img"> <img class="w-100 h-100 display-block" src="assets/images/comercial2.PNG" alt="634" style="height: 620px;"/></div>
            <div class="text flex-columns-between gap-12">
              <div class="heading5"><a class="text-white" href="/service/conciliacion">Comercial</a></div>
              <div class="body2 text-white">Incumpliento de contrato, propiedad intelectual, disputas entre socios o accionistas, litigios entre socios o accionistas, etc.</div><a class="flex-item-center gap-4" href="service-detail.html">
                <div class="text-button text-white">Seguir leyendo </div><i class="ph-bold ph-caret-double-right fs-12 mt-4 text-white"></i></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-3 col-sm-6">
          <div class="benefit-item" > 
            <div class="bg-img" > <img class="w-100 h-100 display-block" src="assets/images/civil2.PNG" alt="" style="height: 620px;"/></div>
            <div class="text flex-columns-between gap-12">
              <div class="heading5"><a class="text-white" href="/service/conciliacion">Civil</a></div>
              <div class="body2 text-white">Incumplimiento o resolución de contrato, desalojo, indemnización, pago de deudas, otorgamiento de escritura pública, etc.</div><a class="flex-item-center gap-4" href="service-detail.html">
                <div class="text-button text-white">Seguir leyendo </div><i class="ph-bold ph-caret-double-right fs-12 mt-4 text-white"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="payment-gateway-two mt-100">
    <div class="container"> 
      <div class="row row-gap-32 flex-item-center">
        <div class="col-12 col-xl-5 flex-column row-gap-20">
          <div class="heading3">Excelencia en Servicios Alcanza Nuevas Alturas</div>
          <div class="body2 text-secondary">CIMARC, donde nuestro compromiso con la excelencia redefine la forma en que experimentas la resolución de conflictos. En CIMARC, no simplemente ofrecemos servicios de conciliación y arbitraje; nos esforzamos incansablemente para ser la vanguardia en proporcionar el mejor servicio a nuestros clientes.</div>
          <div class="list-service"> 
            <div class="service-item flex-item-center"> <i class="ph-bold ph-check  fs-24" style="color: #03a7ff;"> </i>
              <div class="text-button ml-12">Arbitraje Eficaz</div>
            </div>
            <div class="service-item flex-item-center mt-12"><i class="ph-bold ph-check  fs-24" style="color: #03a7ff;"> </i>
              <div class="text-button ml-12">Sesiones de Conciliación Personalizadas</div>
            </div>
            <div class="service-item flex-item-center mt-12"><i class="ph-bold ph-check  fs-24" style="color: #03a7ff;"> </i>
              <div class="text-button ml-12">Manejo Profesional de Casos Sensibles</div>
            </div>
            <div class="service-item flex-item-center mt-12"><i class="ph-bold ph-check  fs-24" style="color: #03a7ff;"> </i>
              <div class="text-button ml-12">Conciliación Profesional</div>
            </div>
            <div class="service-item flex-item-center mt-12"><i class="ph-bold ph-check  fs-24" style="color: #03a7ff;"> </i>
              <div class="text-button ml-12">Resoluciones Transparentes</div>
            </div>
          </div>
          <div class="button-block"><a class="button-share text-white bg-on-surface text-button display-inline-block pt-12 pb-12 pl-36 pr-36 bora-48" href="/contactos" onmouseover="this.style.backgroundColor='#03a7ff'" onmouseout="this.style.backgroundColor='black'">Empezar</a>
          </div>
        </div>
        <div class="col-11 col-xl-7"> 
          <div class="right pl-40">
            <div class="bg-img"> <img class="w-100" src="assets/images/centrotrabajo.jpg" alt=""/></div>
            <div class="feature-item pt-16 pb-16 pl-24 pr-24 bora-20 bg-white flex-item-center gap-16 box-shadow display-inline-flex"><i class="icon-list fs-28 bg-orange p-16 bora-20"> </i>
              <div class="text"> 
                <div class="heading7">Calidad</div>
                <div class="heading7 text-secondary"> en los Procesos</div>
              </div>
            </div>
            <div class="feature-item pt-16 pb-16 pl-24 pr-24 bora-20 bg-white flex-item-center gap-16 box-shadow display-inline-flex"><i class="ph-fill ph-star fs-32 bora-20 text-yellow"></i>
              <div class="text"> 
                <div class="heading7">Personal</div>
                <div class="heading7 text-secondary">100% Calificado</div>
              </div>
            </div>
            <div class="feature-item pt-16 pb-16 pl-24 pr-24 bora-20 bg-white flex-item-center gap-16 box-shadow display-inline-flex"><i class="icon-user fs-32 bg-orange p-16 bora-20"> </i>
              <div class="text"> 
                <div class="heading7">Excelencia</div>
                <div class="heading7 text-secondary">en el Servicio</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="faqs-block style-one mt-100">
    <div class="row row-gap-32">
      <div class="col-12 col-xl-6">
        <div class="bg-img"> <img src="assets/images/pregunt.jpg" alt=""/></div>
        <div class="desc  flex-center" style="background-color: #03a7ff;">
          <div class="content gap-30"><i class="icon-hand-team icon-white"></i>
            <div class="heading4 text-white">Resultados con el Sello de Calidad CIMARC</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-6 bg-surface">
        <div class="content-main">
          <div class="heading3">Preguntas Frecuentes </div>
          <div class="list-question mt-32">
                  <div class=" question-item hover-box-shadow pointer mt-20 pl-28 pr-28 bora-8 border-line-1px">
                    <div class="question-item-main flex-between pt-16 pb-16 heading7">¿En qué áreas específicas ofrecen servicios de arbitraje y conciliación?<i class="ph-bold ph-plus fs-20 p-8"></i></div>
                    <div class="content-question">
                      <div class="border-line"></div>
                      <div class="body3 text-secondary pt-16 pb-16">Nuestros servicios abarcan diversas áreas, incluyendo disputas comerciales, contratos, asuntos familiares y más. Nos especializamos en adaptar nuestros enfoques a las necesidades específicas de cada cliente y tipo de conflicto.</div>
                    </div>
                  </div>
                  <div class=" question-item hover-box-shadow pointer mt-20 pl-28 pr-28 bora-8 border-line-1px">
                    <div class="question-item-main flex-between pt-16 pb-16 heading7">¿Ofrecen servicios de consulta inicial para discutir mi situación?<i class="ph-bold ph-plus fs-20 p-8"></i></div>
                    <div class="content-question">
                      <div class="border-line"></div>
                      <div class="body3 text-secondary pt-16 pb-16">Sí, proporcionamos consultas iniciales donde puede discutir su caso y obtener información sobre cómo podemos ayudar.</div>
                    </div>
                  </div>
                  <div class=" question-item hover-box-shadow pointer mt-20 pl-28 pr-28 bora-8 border-line-1px">
                    <div class="question-item-main flex-between pt-16 pb-16 heading7">¿Cuáles son los costos asociados con la conciliación y cómo se manejan?<i class="ph-bold ph-plus fs-20 p-8"></i></div>
                    <div class="content-question">
                      <div class="border-line"></div>
                      <div class="body3 text-secondary pt-16 pb-16">Discutiremos transparentemente los costos antes de comenzar el proceso. Por lo general, los costos son más bajos que los litigios tradicionales, y existen opciones para adaptarse a diferentes presupuestos.</div>
                    </div>
                  </div>
                  <div class=" question-item hover-box-shadow pointer mt-20 pl-28 pr-28 bora-8 border-line-1px">
                    <div class="question-item-main flex-between pt-16 pb-16 heading7">¿Cómo se garantiza la imparcialidad en los procesos de arbitraje y conciliación de CIMARC?<i class="ph-bold ph-plus fs-20 p-8"></i></div>
                    <div class="content-question">
                      <div class="border-line"></div>
                      <div class="body3 text-secondary pt-16 pb-16">En CIMARC, seleccionamos árbitros y conciliadores altamente calificados y neutrales para garantizar la imparcialidad en cada etapa de la resolución de disputas. Nos comprometemos a procesos transparentes y éticos.</div>
                    </div>
                  </div>
                  <div class=" question-item hover-box-shadow pointer mt-20 pl-28 pr-28 bora-8 border-line-1px">
                    <div class="question-item-main flex-between pt-16 pb-16 heading7">¿Cuál es el enfoque de CIMARC para mantener la confidencialidad durante los procesos de resolución de disputas?<i class="ph-bold ph-plus fs-20 p-8"></i></div>
                    <div class="content-question">
                      <div class="border-line"></div>
                      <div class="body3 text-secondary pt-16 pb-16">La confidencialidad es una prioridad en CIMARC. Nos comprometemos a mantener la privacidad de la información compartida durante todos los procesos.</div>
                    </div>
                  </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--
  <div class="form-request mt-100">
    <div class="container"> 
      <div class="heading flex-between"> 
        <div class="heading3">Request a free call back.</div>
        <div class="body3 text-secondary">Working with this agency has been a game-changer for our business Forem ipsum <br>dolor sit amet, consectetur adipiscing elit. </div>
      </div>
      <div class="form mt-40 flex-between gap-30">
        <div class="row w-100">
          <div class="col-12 col-lg-4 col-md-6">
            <input class="body3 pt-12 pb-12 pl-20 pr-20 bg-surface bora-8 w-100" type="text" placeholder="First name*"/>
          </div>
          <div class="col-12 col-lg-4 col-md-6">
            <input class="body3 pt-12 pb-12 pl-20 pr-20 bg-surface bora-8 w-100" type="text" placeholder="Email"/>
          </div>
          <div class="col-12 col-lg-4 select-arrow-none">
            <select class="body3 pt-12 pb-12 pl-20 pr-20 bg-surface bora-8 w-100" name="categories">
              <option value="Financial Planning">Financial Planning</option>
              <option value="Business Planning">Business Planning</option>
              <option value="Development Planning">Development Planning</option>
            </select><i class="ph ph-caret-down"></i>
          </div>
        </div>
        <div class="button-block"> 
                <button class="button-share bg-on-surface hover-bg-blue text-white text-button pl-28 pr-28 pt-12 pb-12 bora-48">Submit</button>
        </div>
      </div>
    </div>
  </div>-->
  <div class="blog-list style-one mt-100">
    <div class="container"> 
      <div class="heading3 text-center">Latest News</div>
      <div class="row row-gap-32 mt-40">
              <div class="blog-item col-12 col-xl-4 col-sm-6" data-name=""><a class="blog-item-main" href="blog-detail-two.html">
                  <div class="bg-img w-100 overflow-hidden mb-minus-1"><img class="w-100 h-100 display-block" src="assets/images/blog/408x270.png" alt="CI Financial sells RIA stake in new expansion strategy"/></div>
                  <div class="infor bg-white p-24">
                    <div class="caption2 pt-4 pb-4 pl-12 pr-12 bg-surface bora-40 display-inline-block">Makerting</div>
                    <div class="heading6 mt-8">CI Financial sells RIA stake in new expansion strategy</div>
                    <div class="date flex-item-center gap-16 mt-8">
                      <div class="author caption2 text-secondary">by <span class="text-on-surface">Avitex</span></div>
                      <div class="item-date flex-item-center"><i class="ph-bold ph-calendar-blank"></i><span class="ml-4 caption2">1 days ago</span></div>
                    </div>
                  </div></a></div>
              <div class="blog-item col-12 col-xl-4 col-sm-6" data-name=""><a class="blog-item-main" href="blog-detail-two.html">
                  <div class="bg-img w-100 overflow-hidden mb-minus-1"><img class="w-100 h-100 display-block" src="assets/images/blog/408x270.png" alt="Barred financial advisors charged in $72 million criminal"/></div>
                  <div class="infor bg-white p-24">
                    <div class="caption2 pt-4 pb-4 pl-12 pr-12 bg-surface bora-40 display-inline-block">Development</div>
                    <div class="heading6 mt-8">Barred financial advisors charged in $72 million criminal</div>
                    <div class="date flex-item-center gap-16 mt-8">
                      <div class="author caption2 text-secondary">by <span class="text-on-surface">Avitex</span></div>
                      <div class="item-date flex-item-center"><i class="ph-bold ph-calendar-blank"></i><span class="ml-4 caption2">2 days ago</span></div>
                    </div>
                  </div></a></div>
              <div class="blog-item col-12 col-xl-4 col-sm-6" data-name=""><a class="blog-item-main" href="blog-detail-two.html">
                  <div class="bg-img w-100 overflow-hidden mb-minus-1"><img class="w-100 h-100 display-block" src="assets/images/blog/408x270.png" alt="Retirement Planning Strategies"/></div>
                  <div class="infor bg-white p-24">
                    <div class="caption2 pt-4 pb-4 pl-12 pr-12 bg-surface bora-40 display-inline-block">Design</div>
                    <div class="heading6 mt-8">Retirement Planning Strategies</div>
                    <div class="date flex-item-center gap-16 mt-8">
                      <div class="author caption2 text-secondary">by <span class="text-on-surface">Avitex</span></div>
                      <div class="item-date flex-item-center"><i class="ph-bold ph-calendar-blank"></i><span class="ml-4 caption2">2 days ago</span></div>
                    </div>
                  </div></a></div>
              <div class="blog-item col-12 col-xl-4 col-sm-6 display-none col-lg-show" data-name=""><a class="blog-item-main" href="blog-detail-two.html">
                  <div class="bg-img w-100 overflow-hidden mb-minus-1"><img class="w-100 h-100 display-block" src="assets/images/blog/408x270.png" alt="Helping a local business"/></div>
                  <div class="infor bg-white p-24">
                    <div class="caption2 pt-4 pb-4 pl-12 pr-12 bg-surface bora-40 display-inline-block">Makerting</div>
                    <div class="heading6 mt-8">Helping a local business</div>
                    <div class="date flex-item-center gap-16 mt-8">
                      <div class="author caption2 text-secondary">by <span class="text-on-surface">Avitex</span></div>
                      <div class="item-date flex-item-center"><i class="ph-bold ph-calendar-blank"></i><span class="ml-4 caption2">3 days ago</span></div>
                    </div>
                  </div></a></div>
      </div>
    </div>
  </div>
    <div class="partner-five-col style-one mt-60 pb-60 bg-white">
      <div class="partner-five-col style-one mt-60 pb-60 bg-white">
        <div class="list pt-32 pb-32">
            <div class="bg-img flex-center"><p class="w-100">Ético</p></div>
            <div class="bg-img flex-center"><p class="w-100">Eficaz</p></div>
            <div class="bg-img flex-center"><p class="w-100">Justo</p></div>
            <div class="bg-img flex-center"><p class="w-100">Imparcial</p></div>
            <div class="bg-img flex-center"><p class="w-100">Equitativo</p></div>
            <div class="bg-img flex-center"><p class="w-100">Profesional</p></div>
            <div class="bg-img flex-center"><p class="w-100">Transparente</p></div>
            <div class="bg-img flex-center"><p class="w-100">Confidencial</p></div>
            <div class="bg-img flex-center"><p class="w-100">Colaborativo</p></div>
            <div class="bg-img flex-center"><p class="w-100">Independiente</p></div>
        </div>
      </div>
    </div><a class="scroll-to-top-btn" href="#header"><i class="ph-bold ph-caret-up"></i></a>
  </div>