<div id="content">
    <div class="slider-sub ">
      <div class="bg-img"> <img src="/assets/images/banner/conciliacion_.jpg" alt="banner"/></div>
      <div class="container "> 
        <div class="heading-nav gap-4 mt-32"><a class="hover-underline caption1 text-white" href="/">Home</a><i class="ph ph-caret-double-right text-white"></i><a class="hover-underline caption1 text-white" href="/service">Servicios</a><i class="ph ph-caret-double-right text-white"></i>
          <div class="caption1 text-white">Conciliacion</div>
        </div>
        <div class="text-nav"> 
          <div class="heading3 text-white ">Conciliacion</div>
          <div class="sub-heading mt-8 text-white fw-400">Mas detalles de Conciliacion</div>
        </div>
      </div>
    </div>
<div class="content-detail-block pt-100 pb-100 ">
<div class="container"> 
  <div class="row row-gap-32  ">
    <div class="col-12 col-xl-9 mx-auto my-auto " > 
      <div class="content-para pr-55 ">
        <div class="heading3">Conciliacion</div>
        <div class="body2 text-secondary mt-16 ">La conciliación es un método de resolución de conflictos que involucra a un tercero neutral, el conciliador, para facilitar la comunicación entre las partes en disputa. El objetivo es llegar a un acuerdo consensuado que satisfaga las necesidades y preocupaciones de ambas partes, evitando así la escalada del conflicto. Este proceso se caracteriza por ser ágil, flexible y centrado en el diálogo, preservando las relaciones comerciales y personales, y ofreciendo una alternativa más rápida y menos formal que los procedimientos judiciales tradicionales.</div>
        <div class="bg-img mt-32 mb-32"></div>
        <div class="heading6">Procedimientos de la conciliación.</div>
        <div class="body2 text-secondary mt-16">A continuación, se exponen los procedimientos inherentes a una conciliación, los cuales constituyen el marco operativo que facilita el proceso de resolución de conflictos. Estos procedimientos están diseñados para promover la comunicación efectiva entre las partes involucradas, fomentar un ambiente colaborativo y facilitar la búsqueda de soluciones mutuamente aceptables.</div>
        <div class="list-feature mt-32">
          <div class="row row-gap-12"> 
            <div class="col-12 col-lg-6 row-gap-12 flex-column">
              <div class="item flex-item-center gap-12"> <i class="ph-fill ph-check-circle fs-20 text-blue"></i>
                <div class="text-button">Designacion del conciliador</div>
              </div>
              <div class="item flex-item-center gap-12"> <i class="ph-fill ph-check-circle fs-20 text-blue"></i>
                <div class="text-button">invitaciones a conciliar</div>
              </div>
              <div class="item flex-item-center gap-12"> <i class="ph-fill ph-check-circle fs-20 text-blue"></i>
                <div class="text-button">Audiencias de conciliacion</div>
              </div>
            </div>
            <div class="col-12 col-lg-6 row-gap-12 flex-column">
              <div class="item flex-item-center gap-12"> <i class="ph-fill ph-check-circle fs-20 text-blue"></i>
                <div class="text-button">Negociacion y Acuerdos</div>
              </div>
              <div class="item flex-item-center gap-12"> <i class="ph-fill ph-check-circle fs-20 text-blue"></i>
                <div class="text-button">Copia certificada de acta de conciliacion </div>
              </div>
              <div class="item flex-item-center gap-12"> <i class="ph-fill ph-check-circle fs-20 text-blue"></i>
                <div class="text-button">Seguimiento del cumplimiento de los acuerdos</div>
              </div>
            </div>
          </div>
        </div>
        <div class="list-question mt-60">
          <div class="heading6">Preguntas frecuentes sobre este Servicio</div>
                <div class=" question-item hover-box-shadow pointer mt-20 pl-28 pr-28 bora-8 border-line-1px">
                  <div class="question-item-main flex-between pt-16 pb-16 heading7">¿Qué es la conciliación y por qué debería considerarla para resolver conflictos?<i class="ph-bold ph-plus fs-20 p-8"></i></div>
                  <div class="content-question">
                    <div class="border-line"></div>
                    <div class="body3 text-secondary pt-16 pb-16"> La conciliación es un proceso colaborativo donde un tercero neutral facilita la comunicación entre las partes para llegar a un acuerdo mutuo. Es más rápido y menos adversarial que los litigios.</div>
                  </div>
                </div>
                <div class=" question-item hover-box-shadow pointer mt-20 pl-28 pr-28 bora-8 border-line-1px">
                  <div class="question-item-main flex-between pt-16 pb-16 heading7">¿Cómo se selecciona un conciliador y cuál es su papel en el proceso?<i class="ph-bold ph-plus fs-20 p-8"></i></div>
                  <div class="content-question">
                    <div class="border-line"></div>
                    <div class="body3 text-secondary pt-16 pb-16">Las partes generalmente eligen al conciliador. Su papel es facilitar el diálogo, identificar intereses comunes y ayudar a llegar a un acuerdo.</div>
                  </div>
                </div>
                <div class=" question-item hover-box-shadow pointer mt-20 pl-28 pr-28 bora-8 border-line-1px">
                  <div class="question-item-main flex-between pt-16 pb-16 heading7">¿Cuánto tiempo lleva el proceso de conciliación y cómo se determina la duración?<i class="ph-bold ph-plus fs-20 p-8"></i></div>
                  <div class="content-question">
                    <div class="border-line"></div>
                    <div class="body3 text-secondary pt-16 pb-16">La duración varía según la complejidad del conflicto, pero la conciliación tiende a ser más rápida, con plazos acordados por las partes y el conciliador.</div>
                  </div>
                </div>
                <div class=" question-item hover-box-shadow pointer mt-20 pl-28 pr-28 bora-8 border-line-1px">
                  <div class="question-item-main flex-between pt-16 pb-16 heading7">¿Qué sucede si una de las partes no está satisfecha con el resultado de la conciliación?<i class="ph-bold ph-plus fs-20 p-8"></i></div>
                  <div class="content-question">
                    <div class="border-line"></div>
                    <div class="body3 text-secondary pt-16 pb-16">La participación en la conciliación es voluntaria, y si no se alcanza un acuerdo, las partes pueden explorar otras opciones, como el arbitraje o los tribunales.</div>
                  </div>
                </div>
                <a class="button-share display-inline-block hover-button-black border-none text-white text-button pl-28 pr-28 pt-12 pb-12 bora-8" href="/documentacion" style="background-image: linear-gradient(to left,#29B6F6,#0288D1, #0066FF); border-radius: 50px; float: right; margin-top: 40px;" tabindex="0">Documentos</a>

        </div>
      </div>
    </div>
  </div>
</div>
</div><a class="scroll-to-top-btn" href="#header"><i class="ph-bold ph-caret-up"></i></a>
</div>