<div id="content">
    <div class="slider-sub ">
      <div class="bg-img"> <img src="/assets/images/banner/Arbitrios.jpg" alt="banner"/></div>
      <div class="container"> 
        <div class="heading-nav gap-4 mt-32"><a class="hover-underline caption1 text-white" href="/">Home</a><i class="ph ph-caret-double-right text-white"></i><a class="hover-underline caption1 text-white" href="/service">Servicios</a><i class="ph ph-caret-double-right text-white"></i>
          <div class="caption1 text-white">Arbitraje</div>
        </div>
        <div class="text-nav"> 
          <div class="heading3 text-white">Arbitraje</div>
          <div class="sub-heading mt-8 text-white fw-400">Mas detalles de Arbitraje </div>
        </div>
      </div>
    </div>
<div class="content-detail-block pt-100 pb-100">
<div class="container"> 
  <div class="row row-gap-32">
    <div class="col-12 col-xl-9 mx-auto my-auto"> 
      <div class="content-para pr-55">
        <div class="heading3">Arbitraje</div>
        <div class="body2 text-secondary mt-16">El arbitraje, como método de resolución de conflictos, se fundamenta en el consentimiento de las partes en conflicto para someter sus disputas a un árbitro imparcial. Este tercero, seleccionado por las partes o designado por una entidad arbitral, tiene la autoridad para emitir una decisión vinculante que resuelva el conflicto. A diferencia de los tribunales judiciales, el arbitraje se caracteriza por ser un proceso más ágil, flexible y privado. Además, las decisiones arbitrales suelen ser definitivas y ejecutables legalmente, proporcionando una alternativa eficiente y especializada para la resolución de disputas.</div>
        <div class="bg-img mt-32 mb-32"></div>
        <div class="heading6">Procedimientos del Arbitraje.</div>
        <div class="body2 text-secondary mt-16">
          A continuación, se describen los procedimientos esenciales de un arbitraje, delineando los pasos clave para asegurar un proceso eficiente y legalmente vinculante. Este enfoque estructurado brinda a las partes la oportunidad de presentar argumentos, recopilar pruebas y obtener una decisión imparcial por parte del árbitro, constituyendo una alternativa efectiva al sistema legal tradicional.</div>
        <div class="list-feature mt-32">
          <div class="row row-gap-12"> 
            <div class="col-12 col-lg-6 row-gap-12 flex-column">
              <div class="item flex-item-center gap-12"> <i class="ph-fill ph-check-circle fs-20 text-blue"></i>
                <div class="text-button">Registro del Caso</div>
              </div>
              <div class="item flex-item-center gap-12"> <i class="ph-fill ph-check-circle fs-20 text-blue"></i>
                <div class="text-button">Asignacion de Secretario Arbitral</div>
              </div>
              <div class="item flex-item-center gap-12"> <i class="ph-fill ph-check-circle fs-20 text-blue"></i>
                <div class="text-button">Constitucion tribunal arbitral o Arbitro unico </div>
              </div>
              <div class="item flex-item-center gap-12"> <i class="ph-fill ph-check-circle fs-20 text-blue"></i>
                <div class="text-button">Fijacion de las reglas del Arbitraje</div>
              </div>
              <div class="item flex-item-center gap-12"> <i class="ph-fill ph-check-circle fs-20 text-blue"></i>
                <div class="text-button">Etapa Postulatoria</div>
              </div>
            </div>
            <div class="col-12 col-lg-6 row-gap-12 flex-column">
              <div class="item flex-item-center gap-12"> <i class="ph-fill ph-check-circle fs-20 text-blue"></i>
                <div class="text-button">Fijacion de cuestiones controvertidas y etapa probatoria</div>
              </div>
              <div class="item flex-item-center gap-12"> <i class="ph-fill ph-check-circle fs-20 text-blue"></i>
                <div class="text-button">Audiencia unica y otras Audiencias</div>
              </div>
              <div class="item flex-item-center gap-12"> <i class="ph-fill ph-check-circle fs-20 text-blue"></i>
                <div class="text-button">Cierre de instruccion y plazo para laudar</div>
              </div>
              <div class="item flex-item-center gap-12"> <i class="ph-fill ph-check-circle fs-20 text-blue"></i>
                <div class="text-button">Laudo arbitral</div>
              </div>
              <div class="item flex-item-center gap-12"> <i class="ph-fill ph-check-circle fs-20 text-blue"></i>
                <div class="text-button">Solicitudes respecto del laudo</div>
              </div>
            </div>
          </div>
        </div>
        <a class="button-share display-inline-block hover-button-black border-none text-white text-button pl-28 pr-28 pt-12 pb-12 bora-8" href="/documentacion" style="background-image: linear-gradient(to left,#29B6F6,#0288D1, #0066FF); border-radius: 50px; float: right; margin-top: 40px;" tabindex="0">Documentos</a>

        <div class="list-question mt-60">
          <div class="heading6">Preguntas frecuentes sobre este Servicio</div>
                <div class=" question-item hover-box-shadow pointer mt-20 pl-28 pr-28 bora-8 border-line-1px">
                  <div class="question-item-main flex-between pt-16 pb-16 heading7">¿Qué es el arbitraje y por qué debería considerarlo para resolver disputas?<i class="ph-bold ph-plus fs-20 p-8"></i></div>
                  <div class="content-question">
                    <div class="border-line"></div>
                    <div class="body3 text-secondary pt-16 pb-16">  El arbitraje es un método alternativo de resolución de conflictos donde un tercero imparcial, el árbitro, emite una decisión vinculante. Es una opción más rápida y privada que los litigios judiciales.</div>
                  </div>
                </div>
                <div class=" question-item hover-box-shadow pointer mt-20 pl-28 pr-28 bora-8 border-line-1px">
                  <div class="question-item-main flex-between pt-16 pb-16 heading7">¿Cuánto tiempo lleva completar un proceso de arbitraje?<i class="ph-bold ph-plus fs-20 p-8"></i></div>
                  <div class="content-question">
                    <div class="border-line"></div>
                    <div class="body3 text-secondary pt-16 pb-16"> La duración puede variar, pero el arbitraje tiende a ser más rápido que los procedimientos judiciales, con plazos acordados por las partes y el árbitro.</div>
                  </div>
                </div>
                <div class=" question-item hover-box-shadow pointer mt-20 pl-28 pr-28 bora-8 border-line-1px">
                  <div class="question-item-main flex-between pt-16 pb-16 heading7">¿Puede el arbitraje abordar disputas internacionales?<i class="ph-bold ph-plus fs-20 p-8"></i></div>
                  <div class="content-question">
                    <div class="border-line"></div>
                    <div class="body3 text-secondary pt-16 pb-16">Sí, el arbitraje internacional es común y se rige por leyes y tratados específicos para la resolución de conflictos transfronterizos.</div>
                  </div>
                </div>
                <div class=" question-item hover-box-shadow pointer mt-20 pl-28 pr-28 bora-8 border-line-1px">
                  <div class="question-item-main flex-between pt-16 pb-16 heading7">¿Cómo se mantiene la confidencialidad en un proceso de arbitraje?<i class="ph-bold ph-plus fs-20 p-8"></i></div>
                  <div class="content-question">
                    <div class="border-line"></div>
                    <div class="body3 text-secondary pt-16 pb-16">La confidencialidad es una característica fundamental del arbitraje y puede ser acordada por las partes y los árbitros.</div>
                  </div>
                </div>
                
        </div>
      </div>
    </div>
  </div>
</div>

</div><a class="scroll-to-top-btn" href="#header"><i class="ph-bold ph-caret-up"></i></a>
</div>